.container{
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .container{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media (min-width: 1024px) {
    .container{
        margin-left: 8rem;
        margin-right: 8rem;
    }
}