.sectionAbout{
    align-items: center;
    text-align: center;
    background-image: url(../../assets/fondoabout7.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 45rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    scroll-margin-top: 4rem;

    
}
.containerAbout{
    height: 45rem;
    background-color: rgb(0, 0, 0, 0.1);
    
}
.containerText{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;  
    background-color: transparent;
    padding: 2rem 0 2rem 0;
  
}

.containerText img{
    width: 14rem;
    height: 14rem;
    margin: auto;
    border-radius: 50%;
    
    
}
.containerText p{
    color: #000000;
    text-align: center;
    font-size: 1rem;
    font-weight: 550;
    line-height: 2.5rem;
    margin-top: 1.2rem;  
    background-color: transparent;
    margin: auto;
}
.containerText span{
    color: #005ac2;
    font-weight: 550;
    background-color: transparent;
    
}


/* ----------------------- */

@media (min-width: 425px) {
    .sectionAbout{
        height: 40rem;
    }
    .containerAbout{
        height: 40rem;
      
        
    }
}
@media (min-width: 768px) {
    .containerText img{
        width: 16rem;
        height: 16rem;
        
    }
    .containerText p{
        font-size: 1.2rem;
        margin-top: 2.5rem;
    }
   
}

@media (min-width: 1024px) {

    .sectionAbout{
        height: 35rem;
    }
    .containerAbout{
        height: 35rem;
      
    }
.containerText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}    

.containerText p{
   width: 23.5rem;
}

}


@media (min-width: 1440px) {
    .containerText{
        justify-content: space-evenly;
    }   
    .containerText img{
        width: 19rem;
        height: 19rem;
        
    }
    .containerText p{
       width: 34rem;
       font-size: 1.6rem;
    }
  
    }

    @media (min-width: 2560px) { 
        .containerText img{
            width: 26rem;
            height: 26rem;
            
        }
        .containerText p{
           width: 44rem;
           font-size: 2.2rem;
        }
      
        }