
.info{
    background-color: transparent;
    text-align: center;
    align-items: center;
    border: none; 
  

    
}

.info box-icon {
margin: 0 0 0 0.3rem!important;
opacity: 0.7;
width: 0.8rem;

 
}
.btnclose{
   background-color: transparent;
   border: none;
   opacity: 0.9;
   cursor: pointer;
   position: relative;
   top: 0.5rem;
   left: 15.5rem;
}

.modal{
    height: auto;
    
}
.header{
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 550;
    line-height: normal;
    letter-spacing: 0.0625rem;
    margin-bottom: 2rem;
    text-decoration:underline 1px #7b7c7e;
}
.content{
    text-align: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    
}

@media (min-width: 768px) {
  .btnclose{
    left: 32rem;
  }
}

@media (min-width: 1440px) {
    .btnclose{
      left: 52rem;
    }
  }