
.sectionPrices{
  margin-bottom: 8rem;
}
.containerPrices{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    
}

.containerCard{
    display: flex;
    flex-direction: column;
}

.containerTable{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.tablee {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tablee th,
  .tablee td {
    border-bottom: 1px solid #929292;
    text-align: left;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 0.8rem;
   
  }
  .tablee th{
    padding-right: 0.7rem;  
  }
    
  .tablee thead tr {
    border-bottom: 1px solid black; 
  }
  

    .tablee td box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 0.8rem;
  }





  @media (min-width: 768px) {
    .containerCard{
      flex-direction: row;
      gap: 3rem;
  }
    .tablee th,
    .tablee td {
      border-bottom: 0.0900rem solid #929292;
      font-size: 1.2rem;
      width: 10rem;
    }
}


@media (min-width: 1024px) {

  .containerCard{ 
    gap: 5rem;
}
    .containerPrices{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10rem;
    }

    .tablee th,
    .tablee td {
      border-bottom: 0.100rem solid #929292;
      font-size: 1.3rem;
      width: 17rem;
    }
}

@media (min-width: 1440px) {
  .containerCard{
      gap: 9rem;
}

}


@media (min-width: 2500px) {
    .tablee th,
    .tablee td {
      border-bottom: 0.100rem solid #929292;
      font-size: 2rem;
      width: 24rem;
    }

}
