.card {
  width: 11.875rem;
  height: 14rem;
  background: #07182E;
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card h2 {
  z-index: 1;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.card p {
  z-index: 1;
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
}

.buttonAction {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.40rem;
  width: 8rem;
  height: 2.5rem;
  margin: 3.5rem auto 0 auto;
  font-size: 0.9rem;
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);    
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
  color: rgb(255, 255, 255);
  z-index: 1;
}
.card button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 130%;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  

.card:hover{
  transform:  scale(1.1);
}
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */




/* ------------------------------ */

@media (min-width: 375px) {
  .card {
    width: 13rem;
    height: 15rem;
  }
  
  .card h2 {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
  }
  .card p {
    font-size: 2.4rem;
  }
  
  .buttonAction {
 
    width: 8.5rem;
    height: 2.8rem;
    font-size: 1rem;
  
  }
}

@media (min-width: 768px) {

  .card {
    width: 13rem;
    height: 15rem;
  
  }
  
  .card h2 {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
  }
  .card p {
    font-size: 2.4rem;
  }
  
  .buttonAction {
 
    width: 8.5rem;
    height: 2.8rem;
    font-size: 1rem;
  
  }
}

@media (min-width: 1024px) {

  .card {
    width: 16rem;
    height: 18rem;
  
  }
  
  .card h2 {
    font-size: 1.9rem;
    margin-bottom: 1.9rem;
  }
  .card p {
    font-size: 2.7rem;
  }
  
  .buttonAction {
 
    width: 8.9rem;
    height: 2.9rem;
    font-size: 1.2rem;
  
  }
}


@media (min-width: 1440px) {

  .card {
    width: 17rem;
    height: 19rem;
  
  }
  
  .card h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .card p {
    font-size: 2.9rem;
  }
  
  .buttonAction {
 
    width: 9rem;
    height: 3rem;
    font-size: 1.3rem;
  
  }
}