* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 
  }
  
  body {
    font-family: 'Cabin' ,sans-serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);



  }

  html{
    scroll-behavior: smooth;

  }

  .popup-content{
    width: 18rem !important;
  }

  @media (min-width: 768px) {
    .popup-content{
      width: 35rem !important;
    }
  }


  @media (min-width: 1440px) {
    .popup-content{
      width: 55rem !important;
      height: 35rem;
    }
  }