* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 
  }
  
  body {
    font-family: 'Cabin' ,sans-serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);



  }

  html{
    scroll-behavior: smooth;

  }
